<div class="container text-center">
<div class="col-xs-4 col-xs-offset-4">
  <div class="answer">

    <h1> You : <%= @question %></h1>
    <p>Coach answer : <%= @answer %> </p>
     <%= link_to 'Ask a question', ask_path, class:" btn btn-primary" %>
  </div>
</div>
</div>
