<div class = 'container text-center'>
  <div class="col-xs-4 col-xs-offset-4">
    <form action="/answer" method="get">
      <label for="question" class = 'header'>Speak to your coach</label>
      <input type="text" id="question" class = "form-control" name="query" placeholder="What is your question?">
      <input class='btn btn-success' type="submit" value="Go on!" id='valid'>
    </form>
  </div>
</div>

