form {
  color: #37c8a1;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: #d0d2d3;
  padding: 30px 10px;
  box-shadow: 2px 2px 2px rgb(220, 220, 220);
  margin-top: 30px;
}

#valid {
  margin-top: 20px;
}

.header {
  margin: 20px 0px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 45px;
}
